
body{
    display: flex;
    justify-content: center;
}
#spillteSpill{
    display: flex;
    align-content: center;
    max-width: 40vw;
}
.spill{
    overflow: hidden;
}
.spill:hover{
    z-index: 5;
}
.bilderSpill{
    width: 12vw;
    opacity: 1;
}